<h1>Human or Cat?</h1>

<audio controls>
  <source src="<%= asset_path @sound.file_name %>" type="audio/mpeg">
Your browser does not support the audio element.
</audio><br>

<%= hidden_field_tag 'sound_type', @sound.sound_type %>
<%= image_tag @image1.file_name, width: '200', class: 'js-img', id: 'human' %>
<%= image_tag @image2.file_name, width: '200', class: 'js-img', id: 'cat' %>

<div id="result"></div>

<a href="/" id="again" style="display:none">Play Again</a>

<div>Score: <span id="score"><%= @score %></span></div>