<div>

  <h1>Human or Cat?</h1>
  <p>Play the sound and click the meower.</p>
  <div class="score">Your Score: <span id="score"><%= @score %></span></div><br>

  <span id="result"></span>
  <a href="/" id="again" style="display:none">Play Again?</a>
  <br>
  <br>

  <div>
    <audio controls>
      <source src="<%= asset_path @sound.file_name %>" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <%= hidden_field_tag 'sound_type', @sound.sound_type %>
  </div>

  <div class="pic">
    <div class="pic_container">
      <%= image_tag @image1.file_name, class: 'js-img', id: 'human' %>
      <div class="underlay"></div>
    </div>
    <div class="pic_container">
      <%= image_tag @image2.file_name, class: 'js-img', id: 'cat' %>
      <div class="underlay"></div>
    </div>
  </div>

  <div id="hugh">
    <%= image_tag('hugh.jpg',{:width => '150px'}) %>
  </div>

</div>

<div class= "social">
  <div id="twit">
    <a href="https://twitter.com/intent/tweet?text=I%20scored%20<%= @score %>%20on" data-hashtags="HumanOrCat" data-lang="en" class="twitter-share-button" data-url="http://humanorcat.com" data-counturl="http://humanorcat.com" data-count="none"></a>
  </div>

  <div id="fbook" class="fb-share-button" data-href="http://www.humanorcat.com/" data-type="button"></div>
</div>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>