<div>

  <h1>Human or Cat?</h1>
  <p>Play the sound and click the meower.</p>
<div class="score">Your Score: <span id="score"><%= @score %></span></div><br>

<span id="result"></span>
<a href="/" id="again" style="display:none">Play Again?</a>
<br>
<br>

<div>
  <audio controls>
    <source src="<%= asset_path @sound.file_name %>" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  <%= hidden_field_tag 'sound_type', @sound.sound_type %>
</div>

  <div class="pic">
    <%= image_tag @image1.file_name, class: 'js-img', id: 'human' %>
    <%= image_tag @image2.file_name, class: 'js-img', id: 'cat' %>
  </div>
</div>